/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$white_opaque: rgba(250, 250, 250, .3);
$white_opaque_text: rgba(250, 250, 250, .6);
$dark: #1F7972;
$grey_opaque: rgba(192,192,192,0.6);

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 3px;
  font-weight: bold;
  padding-left: 10px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

* {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
	height: 100%;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  	padding-top: 60px;
 	@media only screen and (max-width: 767px) {font-size: 0.75em; background-image: none;}
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

h1 {font-size: 1.8em; text-align: center;}
h2 {font-size: 1.6em; text-align: center;}

.alert, .notice {text-align: center; font-size: .7em; padding: 0 0 0 0; margin: 0 0 0 0;}

.container {
	width: 90%;
	max-width: 900px;
	background: white;
	opacity: 0.8;
	margin: 1em auto 0 auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px $grey_opaque;
	padding: 1em 0;
}

.page_title {
	text-align: center;
	font-weight: 700;
	font-size: 2.5em;
	text-transform: uppercase;
	color: $dark;
	margin: 0;
	a {
		text-decoration: none;
		color: white;
		transition: all .4s ease-in-out;
		&:hover {
			opacity: 0.4;
		}
	}
}

.links {
	display: block;
	margin: 1.5em auto 0 auto;
	text-align: center;
	font-size: 0.8em;
	color: white;
	a {
		color: white;
	}
}

.forms {padding: 0 5%;}
label {color: $dark;}

#form {padding-left: 5px};

input[type="text"], input[type="date"] {
	float: right;
	width: 70%;
	margin: 0 2% 0 0;
	display: inline-block;
	outline: none;
	background: $grey_opaque;
	border: none;
	height: 30px;
	border-radius: 4px;
	padding-left: 0;
}

#contract_asset_id, #contract_renter_id, #contract_status, #asset_owner_id, #renter_status, #odometer_contract_id, #invoice_contract_id,
#owner_province, #owner_service_required, #owner_legal_entity, #renter_payment_method, #renter_province, #contract_type_of_contract, #contract_payment_method
{
	float: right;
	width: 70%;
	margin: 0 2% 0 0;
	display: inline-block;
	outline: none;
	background: $grey_opaque;
	border: none;
	height: 30px;
	border-radius: 4px;
	padding-left: 0;
}

input[type="number"] {
	float: right;
	width: 70%;
	margin: 0 2% 0 0;
	display: inline-block;
	outline: none;
	background: $grey_opaque;
	border: none;
	height: 30px;
	border-radius: 4px;
	padding-left: 0;
}

input[type="email"] {
	width: 90%;
	margin: 0.5em 2% .5em 20px;
	display: inline-block;
	outline: none;
	background: $grey_opaque;
	border: none;
	height: 40px;
	border-radius: 4px;
	padding-left: 1em;
}

input[type="password"] {
	width: 90%;
	margin: 0.5em 2% .5em 20px;
	display: inline-block;
	outline: none;
	background: $grey_opaque;
	border: none;
	height: 40px;
	border-radius: 4px;
	padding-left: 1em;
}

input[type="checkbox"] {
	margin: 0.5em 70% .5em 20px;
	border-radius: 4px;
	padding-left: 1em;
	float:right;
}

label {
	margin: .5em 2% .5em 20px;
	border-radius: 4px;
	padding-left: 1em;
}

#back {margin: 0 0 0 30px;}

input[type="submit"] {
	background: $dark;
	outline: none;
	border: none;
	height: 20px;
	border-radius: 4px;
	width: 15%;
	display: inline-block;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color: white;
	margin: .5em 2% 1em 20px;
	&:hover {
		background: $dark;
		color: white;
	}
}


::-webkit-input-placeholder { color: $dark; }

.navbar-right {width: 70%}; 
 
textarea {
	float: right;
	width: 70%;
	margin: 0 2% 0 0;
	display: inline-block;
	outline: none;
	background: $grey_opaque;
	border: none;
	height: 30px;
	border-radius: 4px;
	padding-left: 0;
  height: 50px;
}

table {
	border: 1; 
	width: 95%; 
	opacity: 0.8;
	margin: 1em auto 0 auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px $grey_opaque;
	padding: 1em 0;
}

thead {
  font-weight:bold;
}

ul, li {list-style-type: none;}


#form {padding-left: 10px};

.button {
	text-align: center;
	background: $dark;
	outline: none;
	border: none;
	line-height: 20px;
	border-radius: 4px;
	width: 15%;
	display: inline-block;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color: white;
	margin: 0 2% 0 20px;
	&:hover {
		background: $dark;
		color: white;
	}
}

/* Invoice lines blocks (all) */
[id*="invoice_lines_attributes_"] {
	float: left;
	width: 50%;
	margin: 0 2% 0 0;
	display: inline-block;
	outline: none;
	background: $grey_opaque;
	border: none;
	height: 30px;
	border-radius: 4px;
	padding-left: 0;
}
div#lines {width: 70%; float: right;}
/*select#result_fields.select.required.form-control {width: 30%;}
input#line_amount.numeric.decimal.required.form-control {width: 30%;} */
input#invoice_lines_attributes_0_amount {width: 20%; float: left;}
input#invoice_lines_attributes_1_amount {width: 20%; float: left;}
input#invoice_lines_attributes_2_amount {width: 20%; float: left;}
input#invoice_lines_attributes_3_amount {width: 20%; float: left;}
input#invoice_lines_attributes_4_amount {width: 20%; float: left;}
input#invoice_lines_attributes_5_amount {width: 20%; float: left;}
